button.light {
  background-color: #eceff1;
  color: black;
}

button.light:hover {
  background-color: #cfd8dc;
  color: black;
}

label.switch span.light:before {
  background-color: white;
}

label.switch span.light:hover {
  background-color: #cfd8dc;
}

label.switch span.light:after {
  background-color: #eceff1;
}

input:checked + span.slider.light {
    background-color: #eceff1;
}

div.card.light {
  background-color: #cfd8dc;
  color: #263238;
}

div.card.light div.container {
  background-color: #eceff1;
  color: inherit;
}
